//responsividade
@media screen and (max-width: 1242px) {
    .formulario {
        justify-content: flex-end;
    }

    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        justify-content: flex-end;
    }

    footer {
        padding: 0 60px;
    }

    .formBox {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .formBox .select {
        margin-bottom: 10px;
    }

    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }

    header h1 {
        text-align: center;
    }

    main {
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }

    .banner-ouside {
        display: flex;
    }

    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }

    .menu {
        width: 100%;
        margin-top: 40px;
    }

    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }

    .formulario {
        justify-content: center;
        margin-top: 40px;
    }

    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }

    .pop-up {
        .confirmar-pedido {
            display: block;
            width: 100%;
            margin-bottom: 10px;

            .confirmar {
                .btn {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }

            .cancelar {
                width: 100%;
                .btn {
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }

    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }

    footer {
        flex-direction: column;
        height: auto;
    }

    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }

    .banner {
        width: 100%;
    }

    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .banner-outside {
        order: 1;

        .banner {
            width: 100%;
        }
    }

    .formulario {
        order: 2;

        .form-container {
            padding: 10px 20px;
            height: 450px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }

    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}
