@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

.menu {
    grid-area: menu;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: menu;
}

.menu .formBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.menu .formBox .select {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: 0.25em;
}

.menu .formBox .select::after {
    content: "\25BC";
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: 0.25s all ease;
    transition: 0.25s all ease;
}

.menu .formBox .select:hover::after {
    color: #23b499;
}

.menu .formBox .select select {
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 !important;
    background: rgba(230, 220, 220, 0.9);
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 0 0.5em;
    color: red;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

.menu .formBox .select select::-ms-expand {
    display: none;
}

/*pop up*/
@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

.overlay {
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    z-index: 10;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.pop-up {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.5fr 1.8fr 0.4fr;
    grid-template-rows: 0.5fr 1.8fr 0.4fr;
    grid-template-areas:
        "header"
        "pedido"
        "confirmar-pedido";
    padding: 10px 20px;
    overflow: hidden;
    position: fixed;
    width: 400px;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    max-width: 80%;
}

.pop-up.active {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.pop-up .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    text-align: center;
}

.pop-up .header button {
    position: absolute;
    right: 10px;
    top: -21px;
    width: 20px;
    font-size: 50px;
    color: red;
    background: none;
    border: none;
}

.pop-up .pedido {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: pedido;
}

.pop-up .pedido .text-inside {
    color: red;
    letter-spacing: 2px;
}

.pop-up .pedido ul li {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
}

.pop-up .confirmar-pedido {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    text-align: center;
}

.pop-up .confirmar-pedido .confirmar {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: confirmar-pedido;
}

.pop-up .confirmar-pedido .confirmar {
    border-radius: 4px;
    background: #03bb03;
    position: relative;
    z-index: 1;
}

.pop-up .confirmar-pedido .cancelar {
    border-radius: 4px;
    background: #a10f02;
    position: relative;
    z-index: 1;
}

.logoPop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../imagens/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    background-size: 90%;
}

.pop-up-confirmacao {
    padding: 10px 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 0.3fr 1.6fr 0.3fr;
    grid-template-rows: 0.3fr 1.6fr 0.3fr;
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    height: 200px;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    max-width: 80%;
}

.pop-up-confirmacao.active {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
}

.pop-up-confirmacao .close-bottom {
    position: absolute;
    right: -20px;
    top: -50px;
    background: none;
    border: none;
    color: red;
    font-size: 50px;
}

.pop-up-confirmacao h2 {
    text-align: center;
    color: white;
    background: #5ab95a;
    border-radius: 4px;
}

.pop-up-confirmacao p {
    text-align: center;
    padding-top: 10px;
    color: red;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.pop-up-confirmacao p#bottom {
    padding: 5px;
    background: #db6060;
    color: white;
    font-family: "Poppins", sans-serif;
}

.pop-up-confirmacao .logo-pop-confirmacao {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../imagens/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 20%;
    background-size: 45%;
}

@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

main {
    background-image: url("../imagens/tampa.jpg");
    background-position: center;
    background-size: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        " banner-outside fomulario"
        " menu fomulario";
    padding: 40px;
}

.formulario {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 2;
    grid-area: fomulario;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.formulario .form-container {
    background-color: #fff;
    border-radius: 4px;
    width: 400px;
    padding: 20px 30px;
    height: 460px;
}

.formulario .header {
    margin-bottom: 20px;
}

.formulario form {
    position: relative;
}

.formulario form .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.formulario form .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.formulario form .form-control.error i.fa-exclamation-circle {
    color: red;
    visibility: visible;
}

.formulario form .form-control.error input {
    border: 1px solid red;
}

.formulario form .form-control.success input {
    border: 1px solid #0af94b;
}

.formulario form .form-control input {
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.formulario form .form-control i {
    position: absolute;
    visibility: hidden;
    top: 40px;
    right: 10px;
}

.formulario form .form-control small {
    position: absolute;
    color: red;
    font-size: 14px;
}

@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

.banner-outside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.banner-outside .banner {
    position: relative;
    width: 400px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 4px;
    z-index: 2;
}

.banner-outside .banner ul li:first-child {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.banner-outside .banner ul li {
    margin-bottom: 10px;
    font-weight: 500;
    list-style: none;
    color: white;
    font-family: "Open Sans";
}

.banner-outside .banner ul hr {
    height: 5px;
    background: white;
    width: 290px;
    margin: 5px 0;
}

.banner-outside .banner .logo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../imagens/logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    opacity: 70%;
    z-index: -1;
}

@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

footer {
    padding: 0 100px;
    height: 60px;
    width: 100%;
    color: white;
    background-color: #a10f02;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

footer h1 {
    font-size: 20px;
    margin-right: 70px;
}

footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

footer ul li {
    list-style: none;
    margin-left: 20px;
}

@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

.button {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 2px solid #a10f02;
    position: absolute;
    z-index: 2;
    border-radius: 4px;
}

.button a {
    text-decoration: none;
    color: white;
}

.button::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #b91405;
    z-index: -1;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
}

.button.btn1 {
    background-color: #a10f02;
}

.button.btn1:before {
    width: 0;
    height: 100%;
}

.button.btn1:hover::before {
    width: 100%;
    height: 100%;
}

/*efeitos */
.btn {
    cursor: pointer;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    color: white;
    letter-spacing: 2px;
    font-size: 11px;
    font-weight: bold;
    padding: 10px 35px;
    overflow: hidden;
    border-radius: 4px;
    border: none;
    position: relative;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
}

.btn.correct {
    width: 170px;
}

.btn.correct:before {
    width: 0;
    height: 100%;
    background: #06df06;
}

.btn.correct:hover:before {
    width: 100%;
}

.btn.cancelar {
    width: 170px;
}

.btn.cancelar:before {
    width: 0;
    height: 100%;
    background: #ce1605;
}

.btn.cancelar:hover:before {
    width: 100%;
}

@media screen and (max-width: 1242px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
}

@media screen and (max-width: 1086px) {
    .formulario {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    footer {
        padding: 0 60px;
    }
    .formBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 50%;
    }
    .formBox .select {
        margin-bottom: 10px;
    }
    .menu {
        height: 100%;
    }
}

@media screen and (max-width: 890px) {
    main {
        background-size: auto;
    }
    header h1 {
        text-align: center;
    }
    main {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
            " banner-outside"
            " fomulario";
    }
    .banner-ouside {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .banner {
        position: relative;
        background: rgba(0, 0, 0, 0.4);
        margin: 0 auto;
        padding: 40px;
        border-radius: 4px;
        z-index: 2;
    }
    .menu {
        width: 100%;
        margin-top: 40px;
    }
    .formBox {
        margin-bottom: 10px;
        width: 400px;
    }
    .formulario {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 40px;
    }
    footer {
        position: relative;
    }
}

@media screen and (max-width: 742px) {
    footer h1 {
        margin: 0;
    }
    .pop-up .confirmar-pedido {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .confirmar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .pop-up .confirmar-pedido .cancelar {
        width: 100%;
    }
    .pop-up .confirmar-pedido .cancelar .btn {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 625px) {
    .formBox .select {
        margin-bottom: 10px;
        min-width: 300px;
    }
    footer {
        padding: 10px;
    }
}

@media screen and (max-width: 523px) {
    main {
        padding: 40px 10px;
    }
    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    footer span {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 482px) {
    .formBox .select {
        margin-bottom: 10px;
    }
    .banner {
        width: 100%;
    }
    .banner ul hr {
        margin: 30px center;
        width: 100%;
    }
}

@media screen and (max-width: 482px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .banner-outside {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .banner-outside .banner {
        width: 100%;
    }
    .formulario {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
    .formulario .form-container {
        padding: 10px 20px;
        height: 450px;
        width: 100%;
    }
}

@media screen and (max-width: 357px) {
    .form-container {
        height: 500px;
    }
    .pop-up {
        height: auto;
    }
    .banner ul hr {
        height: 5px;
        background: white;
        margin: 5px 0px;
        width: auto;
    }
}

@media screen and (max-width: 288px) {
    .pop-up-confirmacao {
        height: auto;
    }
}

@font-face {
    src: url("../fonts/OpenSans-Light.ttf");
    font-family: "Open Sans";
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

body {
    background-color: white;
    overflow-x: hidden;
}

html {
    font-family: "Poppins", sans-serif;
}

/*Pop up*/
header h1 {
    background-color: #a10f02;
    color: #fff;
    padding: 5px 60px;
}

.wrapper {
    position: relative;
}
/*# sourceMappingURL=styles.css.map */
